body {
  margin: 0;
  font-family: 'Roboto';
  height: 100vh;
  width: 100vw;
}

.todo-form {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;

  &__textblock {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__textarea {
    resize: none;
  }
}

.create-button {
  margin-top: 10vh;
  text-align: center;
}