@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif !important;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  padding: 0px;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  &__todos {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
  }
}

.todo-form {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  
  
  &__textblock {
    border: 1px solid rgba($color: #000000, $alpha: 0.42);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
    border-radius: 4px;
    padding: 8px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__textarea {
    resize: none;
    min-height: 48px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
  }
  
  &__input {
    font-size: 16px;
    border: none;
    outline: 'none';
    font-weight: bold !important;
  }

  &__tools {
    display: flex;
    justify-content: flex-end;
  }

  &__cancel {
    color: #EF5350; 
  }
}

.create-button {
  margin-top: 10vh;
  text-align: center;
}

.item-todo {
  border: 1px solid rgba($color: #000000, $alpha: 0.22);
  border-radius: 4px;
  padding: 8px;
  width: fit-content;
  min-width: 240px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: all 0.2s ease-in-out;
  
  
  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
    transform: translate(2px);
    
    .item-todo__tools {
      opacity: 1;
    }
  }
  
  &__header {
    font-weight: bold;
  }

  &__body {
    white-space: pre-line;
  }
  
  &__tools {
    opacity: 0;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 8px;
    
    .MuiSvgIcon-root {
      font-size: 18px !important;
    }

    .MuiIconButton-root {
      width: 34px;
      height: 34px;
    }

  }

  &__done {

    &:hover {
      color: #66BB6A;

    }
  }

  &__delete {

    &:hover {
      color: #EF5350;
    }
  }

  &__icon {
    font-size: 16px;
  }

  &__complete {
    background-color: #E8F5E9;
    border: 1px solid #66BB6A;
  }
}

.search-input {

}